@{
    ViewData["Title"] = "Home Page";
}



    <style>
        .c {
            display: flex;
            justify-content: space-between;
            background-color: lightgray;
            padding: 20px;
        }

        .box {
            background-color: gray;
        width: 40%;
        height: 40%;
            padding: 20px;
            margin:20px;
            text-align: center;
            color: white;
            border-radius: 5px;

        }
    </style>

    <div class="c">
        <div class="box"><a style="text-decoration:none;color:white" asp-action="Index" asp-controller="Student">Student</a></div>
        <div class="box"><a style="text-decoration:none;color:white" asp-action="Index" asp-controller="Course">Course</a></div>
        <div class="box"><a style="text-decoration:none;color:white" asp-action="Index" asp-controller="Department">Department</a></div>
        
    </div>
